#header {
    padding-top: 20px;
}
table {
    width: 100%;
}
#img1 {
    width: 90; height: 65; align-self: center;
}
#img2 {
    width: 45; padding:2 0 0 2;
}
#signin {
    float: left;
}
footer {
    text-align: center; font-size: xx-small; background-color:rgb(226, 244, 255); font-style: oblique;
}
#tag {
    font-size: small; color: grey; border-style: dashed; border-width: 0.5px;
}
#jobdescription {
     padding-bottom: 5px; padding-top: 5px;
}
#job {
    padding-left: 25px; padding-right: 25px;
}
#button {
    width: 100%; font-size: small; background-color: snow; border-style: solid; border-width: 1px;
}
.pagination {
    display: inline-block; font-size: small; color: grey;
  }
  
.pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
  }
.contact {
    background-color: snow; text-align: center; color: grey;
}